* {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: 'Roboto', sans-serif;
    background:#000;
  }

html, body, .container-table {
   height: 100%;
}
.container-table {
   display: table;
}
.vertical-center-row {
   display: table-cell;
   vertical-align: middle;
}

/* NAV BAR */
.navbar-custom {
    color:#ffffff;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color:transparent;
}
.navbar-custom .navbar-brand {
    color:#eeeeee;
}

.nav>li>a:focus, .nav>li>a:hover {
  background-color: transparent !important;
}


/* FIRST SCREEN */
.firstScreen-wrapper {
  top: 0px;
  left: 0px;
}

.parallax-holder {
    margin-bottom: 0;
    width: 100%;
    height: 500px;
}

.parallax {
    background: transparent;
    height: 400px;
    margin-bottom: 0;
}

.parallax-mirror {
  height: 100%;
  min-height: 100%;
}

.catchPhrase {
  font-size: 54px;
  color : white;
}

.imgHolder {

}

/* OUR SERVICES */
.ourSerices-wrapper {
  color:white;
  padding: 20px 50px 450px;
  background: #000000;
}

.servicesTitle h1{
  margin-bottom: 30px;
}

.servicesTitle p{
  margin-bottom: 50px;
}

.allServices {
  color : #000000;
}

/* TEAM */
.ourTeam-wrapper {
  color:white;
  padding: 20px 50px 450px;
  background: #000000;
}

.teamTitle h1{
  margin-bottom: 30px;
}

.teamTitle p{
  margin-bottom: 50px;
}

.teamFounder {
  color : #000000;
  padding: 50px ;
}

/* CONTACT */
.contact-wrapper {
  color:white;
  padding: 20px 50px 70px;
  background: #000000;
}

.contactUs h1{
  margin-bottom: 30px;
  color: white;
}




/** hack **/
.full-width-div {
    position: absolute;
    width: 100%;
    left: 0;
}

.fill {
    min-height: 100%;
    height: 100%;
}
